<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <% if (currentUser) {%>
    <h1>Welcome <%= currentUser.username %></h1>
    <% if (!confirmed) {%>
    <p>
      You think you only needed to register to access this secret club? This is
      a private, members only club. You need to enter the password to join,
      which can be provided to you by an existing member (and definitely not by
      right click > inspecting this page's HTML source code - don't even try
      it!!
    </p>
    <form action="#" method="POST">
      <label for="password">Secret Code:</label>
      <input name="password" placeholder="password" type="password" />
      <button>ENTER</button>
    </form>
    <%}%>
    <a href="/log-out">LOG OUT</a>
    <% } else { %>
    <h1>please log in</h1>
    <form action="/login" method="POST">
      <label for="username">Username</label>
      <input name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <button>Log In</button>
    </form>
    <%}%>
  </body>
</html>
