<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta password="LetMeIn" />
    <title>Post New Message</title>
  </head>
  <body>
    <form action="#" method="POST">
      <label for="subject">Subject</label>
      <input name="subject" placeholder="Enter subject here.." type="text" />
      <label for="message">Message:</label>
      <input name="message" placeholder="Write your message" type="textarea" />
      <button>ENTER</button>
    </form>
  </body>
</html>
